---
---
<!-- get modelType -->
{% include fragment-modelType.html id='ihe-sdc-ecc-Observation-integer' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='ihe-sdc-ecc-Observation-integer' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: ObservationSDCeCCint - Change History</h2>
  <p>Changes in the ihe-sdc-ecc-Observation-integer {{modelType | downcase}}.</p>

  {%include StructureDefinition-ihe-sdc-ecc-Observation-integer-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
