---
---
<!-- get modelType -->
{% include fragment-modelType.html id='ihe-sdc-ecc-Observation-date' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='ihe-sdc-ecc-Observation-date' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: ObservationSDCeCCdate - Detailed Descriptions</h2>

<p>Definitions for the ihe-sdc-ecc-Observation-date {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='ihe-sdc-ecc-Observation-date' %}

  {%include StructureDefinition-ihe-sdc-ecc-Observation-date-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='ihe-sdc-ecc-Observation-date' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
